@font-face {
    font-family: 'Noi Variable Flex Trial';
    src: url("../../assets/fonts/NoiVariableFlexTrialGX.ttf");
    font-display: swap;
}

.button {
    background-color: #FFFFFF;
    border-radius: 57px;
    padding: 16px 70px;
    font-family: "Noi Variable Flex Trial";
    font-size: 24px;
    border: 1px solid #FFFFFF;
    z-index: 1;
    cursor: pointer;
    width: 296px;
}
.black-background {
    background-color: #1B1C1D!important;
    color: #FFFFFF!important;
}
.button:hover {
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
}

@media (max-width: 908px) {
    .button {
        margin-left: 1rem;
        padding: 12px 45px;
        font-size: 15px;
        width: 190px;
    }
}

@media (max-width: 744px) {
    .button {
        margin-left: 2rem;
    }
}

@media (max-width: 690px) {
    .button {
        width: 187px;
        margin-left: 1.6rem;
    }
}

@media (max-width: 675px) {
    .button {
        margin-left: 1rem;
        width: 160px;
        padding: 12px 30px;
    }
}

@media (max-width: 600px) {
    .button {
        width: 147px;
        padding: 12px 25px;
    }
}

@media (max-width: 557px) {
    .button {
        margin-left: 0.2rem;
    }
}

@media (max-width: 505px) {
    .button {
        width: 137px;
        padding: 12px 20px;
    }
}

@media (max-width: 490px) {
    .button {
        width: 130px;
        padding: 12px 15px;
    }

}
@media (max-width: 483px) {
    .button {
        width: 170px;
        padding: 12px 30px;
    }
}

@media (max-width: 390px) {
    .button {
        padding: 12px 20px;
    }
}

@media (max-width: 360px) {
    .button {
        padding: 10px 15px;
        width: 120px;
    }
}
